
:root {
    --bg: #181d27;
    --surface: #254d32;

    --primary: #3a7d44;
    --accent: #69b578;
    --highlight: #d0db97;

    --text: #e6f0e9;
    --text-muted: #a8c0ad;
}


* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--bg);
    color: var(--text);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.6;
}

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
}


h1 {
    color: var(--highlight);
    margin-bottom: 0.5rem;
}

p {
    max-width: 600px;
    margin: 0.5rem 0;
    color: var(--text-muted);
}

.marca {
    color: var(--accent);
}


a {
    color: var(--accent);
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    color: var(--highlight);
    text-decoration: underline;
}


header {
    background-color: var(--surface);
    padding: 1rem 2rem;
    border-bottom: 1px solid rgba(255,255,255,0.08);
}

.cabecera-contenido {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo-nombre {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo-nombre h1 {
    color: var(--highlight);
    font-size: 1.4rem;
    margin: 0;
    letter-spacing: 1px;
}

/* NAV */
header nav {
    margin-top: 0.8rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

header nav a {
    color: var(--text-muted);
    padding: 0.4rem 0.6rem;
    border-radius: 6px;
    transition: all 0.2s ease;
}

header nav a:hover {
    color: var(--highlight);
    background-color: rgba(255,255,255,0.05);
}

header nav a.active {
    color: var(--highlight);
    border-bottom: 2px solid var(--accent);
}

footer {
    background-color: var(--surface);
    color: var(--text-muted);
    padding: 1.2rem;
    margin-top: 3rem;
    border-top: 1px solid rgba(255,255,255,0.08);
    text-align: center;
    font-size: 0.85rem;
}

::selection {
    background: var(--accent);
    color: #000;
}